{% extends 'admin.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
<form method="post">{% csrf_token %}

<label for="uname"><b>VehicleNumber</b></label>
 <input type="text" name="busnumber" required>



    <label for="uname"><b>VehicleCapacity</b></label>
 <input type="text" name="buscapacity" required>


    <label for="uname"><b>Driver</b></label>
 <input type="text" name="driver" required>

<button type="submit">Save</button>
</form>
    </div>
</div>
{% endblock %}