{% extends 'admin.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
    <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
<a href="/school/routeadd/">
    <button type="submit" style="float:right">add</button>
</a>
<tr>
    <th>VehicleNO</th>
    <th>Vehicleroute</th>
    <th>edit</th>
    <th>delete</th>

            {% for i in key1 %}
                    <tr>
                    <td>{{i.busno.busnumber}}</td>
                    <td>{{ i.routename}}</td>
    <td>

        <a href="/school/routeedit/{{i.id}}">
        <button type="submit">edit</button>
        </a>
        <input name="edit" value="{{ i.id }}" hidden>
    </td>
                        <td>
                    <form method="post">{% csrf_token %}
                    <button type="submit">delete</button>
                    <input name="delete" value="{{i.id}}" hidden>
                    </form>
                </td>
                </tr>

            {% endfor %}
                    </thead></table>
    </div>
</div>
{% endblock %}
